:root{
/* Colors */
--white: #FFFFFF;

--stone-100: #f3e5d7;
--stone-150: #e3ddd7;
--stone-600: #5f564e;
--stone-900: #302d2b;

--brown: #854532;

--rose-800: #7b274e;
--rose-50: #fff4f9;


/* Font-Weights */
--Light: 400;
--medium: 600;
--bold: 700;


/* Font-Sizes */
--Heading-1: 42px;
--Heading-2: 30px;
--Regular: 16px;


/* Spacing */
--space-12: 12px;
--space-14: 14px;
--space-18: 18px;
--space-22: 22px;
--space-24: 24px;
--space-26: 26px;
--space-30: 30px;
--space-34: 34px;
--space-38: 38px;
--sapce-42: 42px;
--sapce-46: 46px;
}



html,body{
    display: flex;
    justify-content: center;
    background-color: var(--stone-100);
}

main{
    background-color: var(--white);
    max-width: 769px;
    display: flex;
    flex-direction: column;
    font-family: Outfit;
    border-radius: 28px;
}


.content{
    /* Spacing */
    margin-top: var(--space-34);
    margin-bottom: var(--space-34);
    margin-left: var(--sapce-42);
    margin-right: var(--sapce-42);
}

.content img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: var(--space-30);
}

/* Fonts */

.content h1{
    /* Font */
    font-family: Young Serif;
    font-weight: var(--medium);
    font-size: var(--Heading-1);
    color: var(--stone-900);
    letter-spacing: 0%;

    padding-top: var(--space-12);
    margin-top: 0;
    margin-bottom: var(--sapce-42);
}

.content h2{
    /* Font */
    font-family: Young Serif;
    font-weight: var(--light);
    font-size: var(--Heading-2);
    color: var(--brown);
    letter-spacing: 0%;

    margin-bottom: var(--space-30);
    margin-top: opx;
}

.content p{
    font-family: Outfit;
    font-weight: var(--Light);
    font-size: var(--Regular);
    color: var(--stone-600);
    line-height: 170%;
    margin-top: 0;
    margin-bottom: var(--space-30);
}

/* Section */

.content section{
    background-color: var(--rose-50);
    border-radius: 12px;
    padding-top: var(--space-30);
    padding-bottom: var(--space-30);
    padding-left: var(--space-34);
    padding-right: var(--space-34);
    margin-bottom: var(--space-30);
}

.content section h3{
    color: var(--rose-800);
    margin: 0;
    padding-bottom: var(--space-24);
}

.content ul{
    margin: 0px;
    line-height: 29px;
    color: var(--stone-600);
}

/* Ingredients */



#IngredientsUL{
    margin-bottom: var(--space-30);
}

/* Divider */

.content hr{
    margin: 0px;
    margin-bottom: var(--space-30);
    border: none;
    border-top: 1px solid var(--stone-150);
}

/* Instructions */

.content ol{
    color: var(--stone-600);
    margin-bottom: var(--space-30);
    margin-top: opx;
}

.content ol li::marker{
    color: var(--brown);
    font-weight: var(--bold);
}

.content ol li{
    line-height: 29px;
    padding-bottom: 4px;
}

/* Nutrition/Table */

.content table{
    
}