:root{
/* Colors */
--white: #FFFFFF;

--stone-100: #f3e5d7;
--stone-150: #e3ddd7;
--stone-600: #5f564e;
--stone-900: #302d2b;

--brown: #854532;

--rose-800: #7b274e;
--rose-50: #fff4f9;


/* Font-Weights */
--Light: 400;
--medium: 600;
--bold: 700;


/* Font-Sizes */
--Heading-1: 42px;
--Heading-2: 30px;
--Regular: 16px;


/* Spacing */
--space-14: 14px;
--space-18: 18px;
--space-22: 22px;
--space-26: 26px;
--space-30: 30px;
--space-34: 34px;
--space-38: 38px;
--sapce-42: 42px;
--sapce-46: 46px;
}


html,body{
    display: flex;
    justify-content: center;
    height: 100svh;
}

main{
    background-color: aqua;
    max-width: 769px;
    display: flex;
    flex-direction: column;
}

.content{
    margin: 24px;
}

.content img{
    width: 100%;
}